*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    width: 100%;
}
header{
    background: rgba(0, 0, 0, 0.7) url(/image/theregisti-HSXIp58yPyI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
    height: 100%;
    width: 100%;
    padding: 10px 40px 10px 40px;
    color: white;
}

.logos{
    float: right;
}
.logos .fa-brands{
    padding-left: 3px;
    padding-right: 3px;
}

.nav-bar ul{ 
    font-size: 17px;
    display: flex;
    list-style: none;
   align-items: center;
   justify-content: space-center;
   float: right;
   
}

.nav-bar li a{
    
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 10px;
  
}
.nav-bar ul .btn{
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.nav-bar ul .btn:hover{
    background-color:silver;
    color: black;
}
.nav-bar h1{
    font-size: 35px;
}

.Photographer{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.Photographer h1{
    font-size: 60px;
}
.Photographer span{
    padding-top: 2%;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.Photographer p{
    padding: 2% 20% 2% 20%;
    font-size: large;
}
.first-box{
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    
}
.fa-solid{
    color: rgb(87, 60, 110);
    padding-bottom: 10px;
}
.first-box .photo-session{
    width: 25%
}
.first-box .occasions{
    width: 25%
}
.first-box .coverage{
    width: 25%
}

.first-box .box a{
    font-size: large;
    letter-spacing: 1px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-transform: uppercase;
}
.first-box .box hr{
    background-color: gray;
    border-radius: 70px;
    margin: 20px 10px 10px 10px;
    width:50px;
    height: 5px;
    margin: 20px auto;
}
.first-box .box h4{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: x-large;
}
.first-box .box p{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: medium;
    line-height: 22px;

}
.second-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color:gainsboro;
    
}
.left-img{
    width:45vw;
    height: 400px;;
}
.right-side{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 30px 50px;
}
.right-side h2{
    font-size: 40px;
}
.right-side h4{
    font-size: 25px;
}
.right-side p{
    font-size: 19;
    line-height: 22px;
}
.right-side button{
    margin-top: 15px;
    width: 120px;
    height: 40px;
    background: transparent;
    border-radius: 10px;
    letter-spacing: 1px;
}
.third-box{
    width: 100%;
    height: 780px;
}
.third-box h3{
    margin: 40px auto;
  color: black;
  text-align: center;
  font-size: 23px;
  max-width: 600px;
  position: relative;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.third-box h3:before {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
  }
  
.third-box h3:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
  }
.third-box h1{
    padding: 0px 20px 20px 20px;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-size: 55px;
    position: relative;
    letter-spacing: 3px;
}
.sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}
.sub a{
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.third-sub-box .img2{
   
    width: 300px;
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 40px 20px 20px 20px;

}
.third-sub-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.third-sub2-box .img2{
    width: 300px;
    height: 250px;
    padding: 20px 20px 20px 20px;
}
.third-sub2-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.fourth-box{
    background-color: aqua;
    height: 620px;
    width: 100%;
    display: flex;
    justify-content: center;    
    
}
.fourth-box .first{
    background-image: url('/image/kevin-wang-8FLIauBdVvY-unsplash.jpg');
}
.fourth-box .second{
    background-image: url('/image/out-fly-Ay05jho49dc-unsplash.jpg');
}
.fourth-box .third{
    background-image: url('/image/omid-armin-TkEWozPJi5U-unsplash.jpg');
}
.fourth-box .fourth{
    background-image: url('/image/victoria-nazaruk-RuliU2KHzPQ-unsplash.jpg');
}
.fourth-box .panel{
    
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    text-align: center;
    
}
.fourth-box .panel .sub{
    display: block;
    margin: 50% auto;
    color: white;
    width: 70%;
}
.fourth-box .panel .sub h4{
    padding-bottom: 35px;
    font-size: 28px;
    letter-spacing: 1px;
}
.fourth-box .panel .sub p{
    
    padding-bottom: 35px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
}
.fourth-box .panel .sub button{
    width: 40%;
    height: 40px;
    letter-spacing: 1px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.fifth-box{
    width: 100%;
    height: 420px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.fifth-box .fs{
    width: 30vw;
    text-align: center;
    margin: 30px auto;
}
.fifth-box .fs i{
    padding-top: 30px;
}
.fifth-box .fs h1{
    padding-top: 30px;
    font-size: 70px;
}
.fifth-box .fs h5{
    padding-top: 20px;
    font-size: 17px;
}
.fifth-box .fs p{
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
}
.head{
    height: 50px;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    
}
.prog{
    width: 90%;
    height: 5px;
    background-color: azure;
    margin-top: 10px;
    position: relative;
    border-radius: 10px;
}
.sub-prog{
    margin-top: 10px;
    background-color: black;
    height: 100%;
    width: 0%;
    border-radius: 10px;

}
.prog1{
    animation: prog1 2s linear forwards;
}
@keyframes prog1{
    100%{
        width: 100%;
    }  
}
.prog2{
    animation: prog2 2s linear forwards;
}
@keyframes prog2{
    100%{
        width: 90%;
    }  
}
.prog3{
    animation: prog3 2s linear forwards;
}
@keyframes prog3{
    100%{
        width: 80%;
    }  
}
.prog4{
    animation: prog4 2s linear forwards;
}
@keyframes prog4{
    100%{
        width: 70%;
    }  
}
.prog5{
    animation: prog5 2s linear forwards;
}
@keyframes prog5{
    100%{
        width: 60%;
    }  
}
.head p, span{
    padding-top: 20px;
    padding-right: 40px;
}
.third-sub{
    margin: 35px auto;
}
.sixth-box{
    
    background-image: url('/image/jason-leung-LM8O6HIgnRE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.sixth-box .six-sub{
    background-color: white;
    margin: 30px 20px 30px 20px;
    width: 20%;
    border-radius: 10px;

}
.money,sup{
    font-size: 15px;
}
.sixth-box .six-sub .inner{
    color: white;
    border-radius: 10px 10px 0px 0px; 
    height: 200px;
    padding: 40px 40px 40px 40px;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}
.sixth-box .six-sub .inner p, .span{
    
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sixth-box .six-sub .inner2{
    color: rgb(140, 137, 137);
    height: 50%;
    margin: 40px auto;
    width: 70%;
    line-height: 25px;
}
.sixth-box .six-sub .inner22{
    height: 55%;
}
.sixth-box .six-sub .inner2 button{
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    margin-top: 30px;
    padding: 6px 30px 6px 30px;
}
.six-sub1 .inner{
    background-color: rgb(222, 72, 122);
}
.six-sub2 .inner{
    background-color: rgb(53, 172, 220)
}
.six-sub3 .inner{
    background-color: rgb(241, 132, 92);
}
.sixth-box .six-sub1{
    height: 85%;
    margin-left: 60px;
    background-color: white;
}

.sixth-box .six-sub3{
    margin-right: 60px;
    height: 85%;
}
.seventh-box{
    padding-top: 50px;
    height: 920px;
    width: 100%;
    background-color: white;
}

.seventh-box .sub-7{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.sub7-sub{
    width: 40%;
    height: 150px;
}
.sub7-sub h2{
    font-size: 30px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.sub7-sub p{
    text-transform: uppercase;
    font-size: 13px;
    color: grey;
}
.seventh-box .sub-7 .image{
    
    height: 120px;
    width: 120px;
    padding-top: 8px;
    border-style: solid;
    border-radius: 50%;
    border-color: silver;
    
}
.seventh-box .sub-7 .image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-color: silver;
}

.wrapper{
    width: 100%;
    height: 530px;
    border: 1px solid darkslategray;
    margin: 3rem auto;
    overflow: hidden;
}
.slider-holder{
    display: grid;
    grid-template-columns: repeat(3,100%);
    height: 100%;
}

#slider-image-1{
    background-image: url('/image/retrosupply-jLwVAUtLOAQ-unsplash.jpg');
background-size: cover;
}
#slider-image-2{
    background-image: url('/image/theregisti-HSXIp58yPyI-unsplash.jpg');
    background-size: cover;

}
#slider-image-3{
    background-image: url('/image/jason-leung-LM8O6HIgnRE-unsplash.jpg');
    background-size: cover;
}
.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.button-holder .dots{
    background-color: white;
    border-radius: 50%;
    border-style: double;
    border-width: 5px;
    padding: 5px;
    margin-left: 10px;
    border-color: gray;
}
.dots:hover{
    background-color:gray;
    cursor: pointer;
}
.eighth-box{
    width: 100%;
    display: flex;
    justify-content: center;
   
    
    background-color: bisque;
}
.eighth-box .eight-sub{
    width: 50%;
    
}
.eight-sub1{
    background-color: white;
    padding: 50px 50px 50px 50px;
}
.input-row-sub{
    display: flex;
   
}
input ::placeholder{
    font-size: 10px;
}
textarea::placeholder{
    font-size: 15px;
    color: grey;
}
.input-group input{

    outline: none;
    width: 280px;
    height: 35px;
    text-indent: 10px;
    margin-bottom: 20px;
    border-style: none;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}
#email,#number{
    
    margin-left: 15px;
}
#subject ,#hear{
    width: 100%;
}
textarea{
    margin-bottom: 20px;
    min-width: 100%;
    max-width: 100%;
    text-indent: 10px;
    padding-top: 10px;
    border-style: none;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}
.eight-sub2{
    background-color: white;
    padding: 45px 50px 0px 30px;
}
.eight-sub2 address{
    padding-top: 10px;
    color: grey;
}
.eight-sub2 address span{
    font-size: 17px;
    font-weight: 600;
    color: grey;
}
.eight-sub2 h1{

    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.eight-sub2 h4{
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.eight-sub2 p{
    color: grey;
    line-height: 20px;
    padding-bottom: 20px;
}
form button{
    background-color: black;
    color: white;
    padding: 12px 40px 12px 40px;
    margin-left: 250px;
    border-radius: 5px;
}
.ninth-box{
    width: 100%;
    height: 350px;
    background-color: gray;
}
.ninth-box button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-left: 600px;
    margin-top: 20px;
    padding: 10px 15px;
}
.ninth-box button i{
    padding-right: 10px;
}
.wrapper2{
    margin-top: 20px;
    height: 230px;
   
    padding: 20px 30px 20px 30px;
    width: 100%;
}
.wrapper2 .grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    height: 100%;
}
.grider{
    
    height: 100px;
}
#grider1{
    
    background-image: url('/image/axp-photography-hp8KlAskujc-unsplash.jpg');
    background-size: cover;
}

#grider2{
   
    background-image: url('/image/axp-photography-UUZmRqHOo-k-unsplash.jpg');
    background-size: cover;
}
#grider3{
    background-image: url('/image/axp-photography-wikW86lUG94-unsplash.jpg');
    background-size: cover;
}
#grider4{
    background-image: url('/image/james-crewdson-UJzAatnX_tg-unsplash.jpg');
    background-size: cover;
}

#grider5{
    background-image: url('/image/eugene-golovesov-m7WSSyk3l_s-unsplash.jpg');
    background-size: cover;
}
#grider6{
    
    background-image: url('/image/hans-eiskonen-SGByQKhmMB8-unsplash.jpg');
    background-size: cover;
}
#grider7{
    
    background-image: url('/image/james-crewdson-UJzAatnX_tg-unsplash.jpg');
    background-size: cover;
}
#grider8{
    background-image: url('/image/jason-leung-LM8O6HIgnRE-unsplash.jpg');
    background-size: cover;
}
#grider9{
    
    background-image: url('/image/kevin-wang-8FLIauBdVvY-unsplash.jpg');
    background-size: cover;}

#grider10{
    
    background-image: url('/image/retrosupply-jLwVAUtLOAQ-unsplash.jpg');
    background-size: cover;}
#grider11{
    
    background-image: url('/image/theregisti-HSXIp58yPyI-unsplash.jpg');
    background-size: cover;
}
#grider12{
    
    background-image: url('/image/tom-podmore-Pm7Ugc2-WSg-unsplash.jpg');
    background-size: cover;
}
#grider13{
    
    background-image: url('/image/victoria-nazaruk-RuliU2KHzPQ-unsplash.jpg');
    background-size: cover;
}
#grider14{
    
    background-image: url('/image/out-fly-Ay05jho49dc-unsplash.jpg');
    background-size: cover;
}
#grider15{
    background-image: url('/image/crown-4HWiHMDFN4c-unsplash.jpg');
    background-size: cover;
}

#grider16{
    
    background-image: url('/image/out-fly-JkVgbVkD78c-unsplash.jpg');
    background-size: cover;

}
.tenth-box{
    height: 500px;
    width: 100%;
}
.map{
    height: 440px;
    width: 100%;
    background-image: url('/image/map.png');
    background-size: cover;
}
footer{
    height: 60px;
    text-align: center;
    padding-top: 20px;
    background-color: grey;
    color: white;
}      




    
    


